<h1>Welcome</h1>
<h3>Chào bạn {{name}}</h3>
<h4>Tuổi của bạn là {{age}}</h4>

<span *ngIf=" age < 18; then truecondition else falsecondition" 
class="underage"> Bạn dưới 18 tuổi</span>

<ng-template #truecondition ><span MyBold> Bạn dưới 18 tuổi</span></ng-template>
<ng-template #falsecondition class="overage" >Bạn đã trưởng thành rồi</ng-template>
<!-- <span class="underage" *ngIf="age <18">Bạn dưới 18 tuổi </span>
<span class="overage" *ngIf="age >=18">Bạn đã trưởng thành rồi </span> -->
<br><br/>

<input [(ngModel)]="name" />
<br>
<br>
<button (click)="tangtuoi()" MyBold> Tăng tuổi</button>
<br>
<br><br/>
<input type="text"  [(ngModel)]=" vehicles " required placeholder="Thêm xe"/>









<!-- Tạo mới xe:  -->
<!-- <input type="text"[(ngModel)]="xemoi.name" required placeholder="Ten xe"/>
<input type="text" [(ngModel)]="xemoi.price" placeholder="Gia xe"/>
<button (click)="themXe()">Thêm Xe</button>
<table>
    <thead>
        <tr>
            <th>Tên Xe</th>
            <th>Giá Tiền</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.name}}</td>
            <td>{{vehicle.price}}</td>
        </tr>
    </tbody>
</table> -->
Chọn xe: <select>
    <option value="" *ngFor="let xe of vehicles"> {{xe}} </option>
</select>
<h3 class ="myfirstcss"> Hello World!!</h3>
<ul class="myclass">
    <li></li>
</ul>
