.myfirstcss {
    font-family: Arial, Helvetica, sans-serif;
    color: palevioletred;
}
.underage {
    color: red;
    font-size: large;
}
.overage {
    background-color: green;
    font-size: large
}